{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <br>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <strong>Invoice</strong>
            </div>
            <div class="card-body card-block">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                {% csrf_token %}

                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="select" class=" form-control-label">Buyer</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <select name="buyer" id="select" class="form-control" required>
                                <option>Choose buyer</option>
                                {% for buyer in buyers %}
                                    <option value="{{ buyer.id }}" {% if invoice and invoice.buyer == buyer %}selected{% endif %}>{{ buyer.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="select" class=" form-control-label">Supplier</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <select name="supplier" id="select" class="form-control">
                            <option>Choose Supplier</option>
                                {% for supplier in suppliers %}
                                    <option value="{{ supplier.id }}" {% if invoice and invoice.supplier == supplier %}selected{% endif %}>{{ buyer.name }}>{{ supplier.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="select" class=" form-control-label">Truck Driver</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <select name="truck_driver" id="select" class="form-control">
                            <option>Choose Truck Driver</option>
                                {% for truck_d in truck_drivers %}
                                    <option value="{{ truck_d.id }}" {% if invoice and invoice.truck_driver == truck_d %}selected{% endif %}>{{ truck_d.first_name }} {{ truck_d.last_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="select" class=" form-control-label">Truck</label>
                        </div>
                        <div class="col-12 col-md-10">
                        <option>Truck</option>
                            <select name="truck" id="select" class="form-control">
                                {% for truck in trucks %}
                                    <option value="{{ truck.id }}" {% if invoice and invoice.truck == truck %}selected{% endif %}>{{ truck.plat_number }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="text-input" class=" form-control-label">Place Of PickUp</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input type="text" id="text-input" name="pickup_place" placeholder="Text"
                                   class="form-control" required {% if invoice %}value="{{ invoice.place_of_pickup }}"{% endif %}>
                            <small class="form-text text-muted">Please enter pick up location.</small>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="text-input" class=" form-control-label">Place Of Delivery</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input type="text" id="text-input" name="delivery_location" placeholder="Text"
                                   class="form-control" required {% if invoice %}value="{{ invoice.place_of_deliver }}"{% endif %}>
                            <small class="form-text text-muted">Please enter delivery location.</small>
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col col-md-2">
                            <label for="text-input" class=" form-control-label">Date Pick Up</label>
                        </div>
                        <div class="col-12 col-md-10">
                            <input type="date" id="text-input" name="date_pickup" placeholder="Text"
                                   class="form-control" required {% if invoice %}value="{{ invoice.date_pick_up }}"{% endif %}>

                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col">
                            <label for="text-input" class=" form-control-label">Add items</label>
                        </div>
                        <div class="col-12">
                        <button type="button" class="add_field_button btn btn-success">Add More Items</button>
                        <br>
                        <br>
                        {% if not invoice %}
                            <div class="row">
                                <div class="col-4">
                                    <select name="item[]" id="select" class="form-control" required>
                                        <option value="0">Please Select Item</option>
                                        {% for item in items %}
                                            <option value="{{ item.id }}">{{ item.title }}</option>
                                        {% endfor %}
                                    </select>

                                </div>
                                <div class="col-4">
                                    <select name="itempack[]" id="select" class="form-control" required>
                                        <option value="0">Please Select Packaging</option>
                                        {% for package in packagings %}
                                            <option value="{{ package.id }}">{{ package.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-2">
                                    <input type="text" id="text-input" name="quantity[]"
                                           placeholder="Quantity"
                                           class="form-control" required>

                                </div>
                                <div class="col-2">

                                </div>

                            </div>
                        {% endif %}
                            <div class="row">
                                <div class="col-12 input_fields_wrap">
                                {% if invoice and invoice.order_items.all %}
                                    {% for add_item in invoice.order_items.all %}
                                        <div class="row">
                                            <div class="col-4">
                                                <select name="item[]" id="select" class="form-control">
                                                    <option value="0">Please Select Item</option>
                                                    {% for item in items %} <option value="{{ item.id }}" {% if add_item.item == item %}selected{% endif %} >{{ item.title }}</option>{% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-4">
                                                <select name="itempack[]" id="select" class="form-control">
                                                    <option value="0">Please Select Packaging</option>
                                                    {% for package in packagings %} <option value="{{ package.id }}" {% if add_item.item_packaging == package %}selected{% endif %}>{{ package.title }}</option>{% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-2">
                                                <input type="text" id="text-input" name="quantity[]" placeholder="Quantity" class="form-control" required {% if add_item %}value="{{ add_item.quantity }}" {% endif %}>
                                            </div>
                                            <div class="col-2">
                                                <button id="add-button" class="remove_field btn btn-danger">Remove</button>
                                            </div>
                                        </div><br>
                                    {% endfor %}
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <a href="{% url 'invoice-add' %}" type="reset" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Reset
                </a>
            </div>
                </form>
            </div>

        </div>
    </div>







{% endblock %}

{% block javascript %}
     <script>
        $(document).ready(function () {
            var max_fields = 10; //maximum input boxes allowed
            var wrapper = $(".input_fields_wrap"); //Fields wrapper
            var add_button = $(".add_field_button"); //Add button ID

            var x = 1; //initlal text box count
            $(add_button).click(function (e) { //on add input button click
                e.preventDefault();
                if (x < max_fields) { //max input box allowed
                    x++; //text box increment
                    $(wrapper).append('<div class="row">\
                                <div class="col-4">\
                                    <select name="item[]" id="select" class="form-control">\
                                        <option value="0">Please Select Item</option>\
                                        {% for item in items %} <option value="{{ item.id }}">{{ item.title }}</option>{% endfor %}\
                                    </select>\
                                </div>\
                                <div class="col-4">\
                                    <select name="itempack[]" id="select" class="form-control">\
                                        <option value="0">Please Select Packaging</option>\
                                        {% for package in packagings %} <option value="{{ package.id }}">{{ package.title }}</option>{% endfor %}\
                                    </select>\
                                </div>\
                                <div class="col-2">\
                                    <input type="text" id="text-input" name="quantity[]"\
                                           placeholder="Quantity"\
                                           class="form-control" required>\
                                </div>\
                                <div class="col-2">\
                                    <button id="add-button" class="remove_field btn btn-danger">Remove</button>\
                                </div>\
                            </div><br>'); //add input box
                }
            });

            $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
                e.preventDefault();
                $(this).parent('div').parent('div').remove();
                x--;
            })
        });    </script>
{% endblock %}

