{% extends 'common-lists.html' %}
{% block entity-list %}
    <a href="{% url 'invoice-add' %}" class="btn btn-success">Add Invoice</a>
    <br><br>
    <div class="table-responsive table-responsive-data2">
        <table class="table table-borderless table-data3">
            <thead>
            <tr>
                <th>Supplier</th>
                <th>Buyer</th>
                <th>Truck Driver</th>
                <th>Truck</th>
                <th>Pick Up location</th>
                <th>Delivery location</th>
                <th>Delivery Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for invoice in invoices %}
                <tr class="tr-shadow">
                    <td>{{ invoice.supplier }}</td>
                    <td>{{ invoice.buyer }}</td>
                    <td>{{ invoice.truck_driver }}</td>
                    <td>{{ invoice.truck }}</td>
                    <td>{{ invoice.place_of_pickup }}</td>
                    <td>{{ invoice.place_of_deliver }}</td>
                    <td>{{ invoice.date_pick_up }}</td>
                    <td>
                        <div class="table-data-feature">
                            <button class="item" data-toggle="tooltip" data-placement="top"
                                    title="Edit">
                                <i class="zmdi zmdi-edit"></i>
                            </button>
                            <button class="item" data-toggle="tooltip" data-placement="top"
                                    title="Delete">
                                <i class="zmdi zmdi-delete"></i>
                            </button>

                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
