{% extends 'common-lists.html' %}
{% block entity-list %}
    <br>
    <a href="{% url 'buyer-add' %}" class="au-btn au-btn-icon au-btn--green au-btn--small"><i
            class="zmdi zmdi-plus"></i>Add Buyer</a>
    <br><br>
    <div class="table-responsive table-responsive-data2">
        <table class="table table-borderless table-data3">
            <thead>
            <tr>
                <th>Name</th>
                <th>Company</th>
                <th>Phone</th>
                <th>Email</th>

                <th></th>
            </tr>
            </thead>
            <tbody>

            {% for buyer in buyers %}
                <tr class="tr-shadow">
                    <td>{{ buyer.name }}</td>
                    <td>{{ buyer.company_name }}</td>
                    <td>{{ buyer.phone }}</td>
                    <td>{{ buyer.email }}</td>
                    <td>
                        <div class="table-data-feature">
                            <a href="{% url 'buyer-update' pk=buyer.id %}" class="item" data-toggle="tooltip" data-placement="top"
                               title="Edit">
                                <i class="zmdi zmdi-edit"></i>
                            </a>
                            <a href="{% url 'buyer-delete' pk=buyer.id %}" class="item" data-toggle="tooltip" data-placement="top"
                               title="Delete">
                                <i class="zmdi zmdi-delete"></i>
                            </a>

                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
