{% extends 'common-lists.html' %}
{% block entity-list %}
    <a href="{% url 'truck-add' %}" class="au-btn au-btn-icon au-btn--green au-btn--small"><i class="zmdi zmdi-plus"></i>Add Truck</a>
    <br><br>
    <div class="table-responsive table-responsive-data2">
        <table class="table table-borderless table-data3">
            <thead>
            <tr>
                <th>License</th>
                <th>Plate Number</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for truck in trucks %}
                <tr class="tr-shadow">
                    <td>{{ truck.plat_number }}</td>
                    <td>{{ truck.license }}</td>
                    <td>
                        <div class="table-data-feature">
                            <a href="{% url 'truck-update' pk=truck.id %}" class="item" data-toggle="tooltip" data-placement="top"
                                    title="Edit">
                                <i class="zmdi zmdi-edit"></i>
                            </a>
                            <a href="{% url 'truck-delete' pk=truck.id %}" class="item" data-toggle="tooltip" data-placement="top"
                                    title="Delete">
                                <i class="zmdi zmdi-delete"></i>
                            </a>

                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
