<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">logout</a></p>s
        <p><a href="{% url 'password_reset' %}">reset password</a></p>
        <p><a href="{% url 'items' %}">Items</a></p>
        <p><a href="{% url 'item-packaging' %}">Items Packaging</a></p>
        <p><a href="{% url 'truck-drivers' %}">Truck Drivers</a></p>
        <p><a href="{% url 'trucks' %}">Trucks</a></p>
        <p><a href="{% url 'suppliers' %}">Suppliers</a></p>
        <p><a href="{% url 'buyers' %}">Buyers</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Signup</a>
    {% endif %}
{% endblock %}